/*index css*/

#body-index{
  background-image: url(../images/background.jpg); background-repeat: no-repeat center center scroll; background-size:auto;
}

#center-title{
  justify-content: center;
}


.button1 {
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

.button1:hover{
  height: 170px;
  width: 170px;
  border-radius: 50%;  
}

.icon1 {
 color: black;
 padding-top: 3px;
 text-shadow: 3px 1px white;
}

#opening{
 text-shadow: 3px 1px green;
}

.button-center{
  text-align: center;
  padding-bottom: 3                 00px;
}

.button1 {
      text-shadow: 3px 1px green;
      background-color: #1c87c9;
      -webkit-border-radius: 60px;
      border-radius: 26px;
      border: none;
      color: #eeeeee;
      cursor: default;
      display: inline-block;
      font-family: sans-serif; 
      font-size: 30px;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      
      }
      @keyframes glowing2 {
      0% { background-color: #2ba805; box-shadow: 0 0 20px #2ba805; }
      50% { background-color: #49e819; box-shadow: 0 0 60px #49e819; }
      100% { background-color: #2ba805; box-shadow: 0 0 20px #2ba805; }
      }

      .button1 {
        animation: glowing2 1300ms infinite;
      }


/*index css end*/


.navbar {
	background: linear-gradient(to top, #009900 0%, #003300 100%);
  display: fixed;
}

.navbar-brand {
	color: white;
}


.nav-item {
	color: white;
}

.nav-link{
    color: white;
}

.logo1 {
  height:60px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background:linear-gradient(to top, #009900 0%, #003300 100%);
  color: white;
  text-align: center;
}


.jumbotron {

  background:linear-gradient(to top, #009900 0%, #003300 100%);
  color: white;
  text-shadow: 3px 1px green;
  height: 700px;
  border-radius: 15px;
}

#map1 {
  height: 702px;
  border-radius: 7px;
}








.content {
  padding-top:  200px;
}


.card-img-top{
  height: 220px;

}



/* ==========================================================HOME CSS==============================================================*/

#search1 {
  margin-top: 80px;
}


i {
  font-size: 24px;
}

#search2 {
  border-color:#009900;
  width: 700px;
}

.images-home {
  height: 500px;
}

#hotdeals {
  text-shadow: 3px 3px black;
}

#hotrow {
  justify-content: center;
}

.card {
  width: 20rem;
}

.card-title{
  text-shadow: 3px 1px green;
}

.alerthome {
  background: linear-gradient(to top, #009900 0%, #003300 100%);
}




/* ==========================================================END OF HOME CSS==============================================================*/



/* ==========================================================ABOUT CSS==============================================================*/

#aboutlogo {
  text-align: center; padding-top: 10%;

}

.content1 {
  text-shadow: 3px 1px green;
}

.alertabout {
  background: linear-gradient(to top, #009900 0%, #003300 100%);
  height: fill;
}

.alerttext {
  text-shadow: 3px 1px black;
}

.pai {
  text-shadow: 3px 1px black;
}

.carimages {
  height: auto;
  width: 100%;
  padding-bottom: 50px;
}

/* ==========================================================END OF ABOUT CSS==============================================================*/


/* ==========================================================COMPUTER CSS==============================================================*/

#rowpads {
  padding-top:45px;
}

.comp {
  text-align: center;
}

.item-title {
   text-shadow: 3px 1px black;
}

.imgsize {
  height: auto; width: 100%;
}

.comp-price {
  color: lightgreen; text-shadow: 3px 1px black;
}


/* ==========================================================END OF COMPUTER CSS==============================================================*/



/* ==========================================================LAPTOP CSS==============================================================*/

.before-img {
  padding-top: 50px;
}

.lap {
  text-align: center;
}

.img-lap {
 height: auto; width: 100%;
}

.lap-title {
  text-shadow: 3px 1px black;
}

.lap-price {
  color: lightgreen; text-shadow: 3px 1px black;
}


/* ==========================================================END OF LAPTOP CSS==============================================================*/


/* ==========================================================KEYBOARD CSS==============================================================*/

.key {
  text-align: center;
}

.key-size {
  height: auto; width: 100%;
  padding-top: 20px;
}

.key-title {
  text-shadow: 3px 1px black;
}

.key-price {
  color: lightgreen; text-shadow: 3px 1px black;
}

/* ==========================================================END OF KEYBOARD CSS==============================================================*/


/* ==========================================================MOUSE CSS==============================================================*/

.mouse {
  text-align: center;
}

.mouse-size {
  height: auto; width: 100%; 
  justify-content: center;
}

.mouse-title {
  text-shadow: 3px 1px black;
}

.mouse-price {
  color: lightgreen; text-shadow: 3px 1px black;
}

/* ==========================================================END OF MOUSE CSS==============================================================*/


/* ==========================================================OTHERS CSS==============================================================*/

.item {

text-align: center;  

}

.item-size {
  height: auto; width: 100%;
  justify-content: center;
}


.item-title {
  text-shadow: 3px 1px black;
}

.item-price {
  color: lightgreen; 
  text-shadow: 3px 1px black;
}
/* ==========================================================END OF OTHERS CSS==============================================================*/



/* ==========================================================GET IN TOUCH CSS==============================================================*/

.padds {
  padding-top: 50px;
}

.jumbotron {
  border-radius: 6px;

}

 

#map1 {
  background:linear-gradient(to top, #009900 0%, #003300 100%);
  color: white;
}

iframe {
  height: 30rem;
}

.address {
  text-shadow: 3px 3px black;
}

.maps, iframe{
  text-align: center;
   left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   margin-top: 10rem;
}

.maps {
   overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:500px;
    margin-top: 20px;
}

/* ==========================================================END OF GET IN TOUCH CSS==============================================================*/

/*modal login CSS*/
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to top, #009900 0%, #003300 100%);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative; 
  top: 50%;
  border:1px solid white;
  margin-left: 40px;
}


.login-trigger-home{
  font-weight: bold;
  color: white;
  background: linear-gradient(to top, #009900 0%, #003300 100%);
  padding: 10px 20px;
  border-radius: 40px;
  /*position: relative; */
  top: 50%;
  border:1px solid white;
  margin-left: 10px;
  margin-top: 2px;
}



/*Modal*/

#h4login {
  font-weight: bold;
  color: #fff;
}


.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to top, #009900 0%, #003300 100%);
}

.form-control1 {
  margin: 1em 0;
}

.form-control1:hover, .form-control1:focus {
  box-shadow: none;  
  border-color: white;
}

.username, .password, .email, .firstname, .lastname {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}

.form-control1::-webkit-input-placeholder {
  color: #eee;  
}

.form-control1:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: white;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: linear-gradient(to top, #009900 0%, #003300 100%);
  border: 2px solid #FAB87F;
  color: white;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}

.signup {
  padding: 6px 20px;
  border-radius: 20px;
  background: linear-gradient(to top, #009900 0%, #003300 100%);
  border: 2px solid #FAB87F;
  color: white;
  font-weight: bold;
  transition: all .5s;
  

.signup:hover {
  background: #FAB87F;
  color: white;
}

.modal-row-center{
  justify-content: center;
}



/*----------------------------------------------index css------------------------------------*/

     /*.button-glow {
      background-color: #1c87c9;
      -webkit-border-radius: 60px;
      border-radius: 26px;
      border: none;
      color: #eeeeee;
      cursor: pointer;
      display: inline-block;
      font-family: sans-serif; 
      font-size: 20px;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      }
      @keyframes glowing1 {
      0% { background-color: #2ba805; box-shadow: 0 0 5px #2ba805; }
      50% { background-color: #49e819; box-shadow: 0 0 20px #49e819; }
      100% { background-color: #2ba805; box-shadow: 0 0 5px #2ba805; }
      }

      .button-glow {
      animation: glowing1 1300ms infinite;
      }

      #opening {
        text-shadow: 3px 1px green;
      background-color: #1c87c9;
      -webkit-border-radius: 60px;
      border-radius: 26px;
      border: none;
      color: #eeeeee;
      cursor: default;
      display: inline-block;
      font-family: sans-serif; 
      font-size: 30px;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      text-align: center;
      }
      @keyframes glowing2 {
      0% { background-color: #2ba805; box-shadow: 0 0 5px #2ba805; }
      50% { background-color: #49e819; box-shadow: 0 0 20px #49e819; }
      100% { background-color: #2ba805; box-shadow: 0 0 5px #2ba805; }
      }

      #opening {
        animation: glowing2 1300ms infinite;
      }*/

     
